@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

h1 {
    font-family: 'Chewy', cursive;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 0;
    color:rgb(239, 170, 196);
}

header {
    background-color: rgb(241, 222, 220);
    padding: 10px;
}

#nav-section {
    background-color: rgb(255, 196, 209);
    width: 100%;
    padding-top: 10px;
    border-bottom: 5px solid rgb(203, 179, 191);
    border-top: 5px solid rgb(203, 179, 191);
}

nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: baseline;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

main {
    padding-top: 15px;
    background-color: rgb(241, 222, 220);
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.series-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: 0 0 0.6em rgb(138, 137, 137);
}

.series-div:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.yellow {
    color: gold;
}